.click{
  border-top-style:solid gray;
  border-right-style:solid gray;
  border-left-style:solid gray;
  color: firebrick;
  background-color: white;
  border-radius: 0.1em;
}

.nav-menu{
  color: whitesmoke;
  background-color: firebrick
}

.a:hover{
  background-color: tomato;
  cursor: pointer
}
