.upload{
  position: relative;
  overflow: hidden;
  display: inline-block;  
}

.upload input[type=file]{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;  
}

.upload-button{
  margin: 0em 0em;
  padding-right: 6.3em;
  padding-left: 5.3em;  
}

.img-size{
  height: 20em;
  width: 20em;
  margin: 0.5em 0.2em;
  border-radius: 0.5em;
}

.predict-button{
  margin-left: 0em;
  padding-right: 9em;
  padding-left: 8em; 
}

.img-box{
  float: left;
  max-width: 25em;
  margin-left: 15em;
  margin-top: 3em;
}

.result-box{
  float: right;
  max-width: 20em;
  margin-left: 2em;
  margin-right: 20%;
  margin-top: 3em;
  background-color: whitesmoke;
  border-radius: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
}

.details {
  background: firebrick;
  padding: 0.6em;
  border: 1px solid hsla(162, 76%, 32%, .3);
  color: whitesmoke;
  border-radius: 5px; 
} 


.p {
  background: white;
  padding: 0.5em 0.7em;
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsla(162, 76%, 32%, .2);
  font-size: 1em;
  margin-top: 0.5em;
  color: dimgrey;
}
